<header id="header">
  <div class="header-wrap">
    <div class="logo">
      <a href="http://gridwrap.com" style="color: white" class="white">{GRID}</a>
    </div>
    <nav class="nav navbar-nav navbar-right">
      <ul>
        <li><a href="{{ site.url }}" class="link">Blog</a></li>
        <li><a href="http://gridwrap.com/pricing" class="link">Pricing</a></li>
        <li><a href="http://gridwrap.com/support" class="link">Support</a></li>
        <li><a href="http://gridwrap.com/app" class="button outline-white-button">Gridwrap App</a></li>
      </ul>
    </nav>
  </div>
</header>
