---
layout: default
---
{% include header.html %}
<div class="container post">
  <div class="content-wrap">

    <h1>{{ page.title }}</h1>
    <p class="details">
      <span class="date">{{ page.date | date:"%B %d, %Y" }}</span>
      <span class="tags">
        {% for tag in page.tags %}
          <a class="link" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </p>
    {% if page.headerImage %}
      <img src="{{ site.url }}/assets/images/placeholder.jpg" alt=""/>
    {% endif %}
    <div class="content">{{ content }}</div>

    {% if site.related %}
        {% include related.html %}
    {% endif %}
    
    <!-- {% include author.html %} -->
    
    <!-- {% if site.disqus %}
        {% include disqus.html %}
    {% endif %} -->

  </div>
</div>

{% include footer.html %}
